/* === Footer === */
footer {
    background-color: #1a3f52;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    margin-top: auto;
}

.no-blue-link {
    color: inherit;
    text-decoration: none;
}

.no-blue-link:hover {
    text-decoration: underline;
}