/* === List === */
.info-section ul {
    list-style-position: outside;
    /* ensures bullets are outside the text */
    padding-left: 1.2em;
    /* standard left padding for bullets */
    margin-left: 0;
    /* remove extra margin */
    text-align: left;
    /* make sure text is left aligned */
}